<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <label>name: </label><span><%= name %></span><br/>
    <label>character: </label><span><%= character %></span><br/>
    <label> 내 HP: </label><span id="HP">5</span>
    <label> 상대HP: </label><span id="enemyHP">5</span><br/>
    <label> 내 MP: </label><span id="MP">5</span>
    <label> 상대MP: </label><span id="enemyMP">5</span><br/>
    <label id="myTurn"> 첫번째 턴 </label>
    <!-- for variable -->
    <!-- instead of management with session -->
    <button hidden="hidden" id="ip" value="<%= ip %>"></button>
    <button hidden="hidden" id="name" value="<%= name %>"></button>
    <button hidden="hidden" id="character" value="<%= character %>"></button>
    <button hidden="hidden" id="turn" value="<%= turn %>"></button>

    <div class="field" style="background-image: url('img/field.png');
    background-size: 400px 300px;
    width: 400px;
    height: 300px;">
      <table border="1" width="400px" height="300px" style="border-collapse: collapse">
	<tr>
	  <td id="00" width="25%">&nbsp;</td>
	  <td id="01" width="25%">&nbsp;</td>
	  <td id="02" width="25%">&nbsp;</td>
	  <td id="03" width="25%">&nbsp;</td>
	</tr>
	<tr>
	  <td id="10" width="25%">&nbsp;</td>
	  <td id="11" width="25%">&nbsp;</td>
	  <td id="12" width="25%">&nbsp;</td>
	  <td id="13" width="25%">&nbsp;</td>
	</tr>
	<tr>
	  <td id="20" width="25%">&nbsp;</td>
	  <td id="21" width="25%">&nbsp;</td>
	  <td id="22" width="25%">&nbsp;</td>
	  <td id="23" width="25%">&nbsp;</td>
	</tr>
      </table>
    </div>

    <div id="notice">&nbsp;</div>
    <div id="currentCard">&nbsp;</div>
    <br/><br/>
    1:<span id="pick1"> </span><br/>
    2:<span id="pick2"> </span><br/>
    3:<span id="pick3"> </span><br/>
    <button id="fix">FIX</button><br/>
    ▼ My Deck ▼
    <div id="Deck">
      <ul>
        <li style="background-image: url('/img/cards/Common/MoveToUp.jpg');"><span id="card1" class="card">위로한칸</span></li>
        <li style="background-image: url('/img/cards/Common/MoveToUp.jpg');"><span id="card2" class="card">위로한칸</span></li>
        <li style="background-image: url('/img/cards/Common/MoveToLeft.jpg');"><span id="card3" class="card">왼쪽한칸</li><span></li>
        <li style="background-image: url('/img/cards/Common/MoveToLeft.jpg');"><span id="card4" class="card">왼쪽한칸</span></li>
        <li style="background-image: url('/img/cards/Common/MoveToRight.jpg');"><span id="card5" class="card">오른쪽한칸</span></li>
        <li style="background-image: url('/img/cards/Common/MoveToRight.jpg');"><span id="card6" class="card">오른쪽한칸</span></li>
        <li style="background-image: url('/img/cards/Common/MoveToDown.jpg');"><span id="card7" class="card">아래한칸</span></li>
        <li style="background-image: url('/img/cards/Common/MoveToDown.jpg');"><span id="card8" class="card">아래한칸</span></li>
        <li style="background-image: url('/img/cards/Common/ManaRecovery.jpg');"><span id="card9" class="card">마나충전</span></li>
        <% if( character == "warrier" ){ %>
          <li style="background-image: url('/img/cards/Warrier/[Warrier]BasicAttack.jpg');"><span id="card10" class="card">기본공격</span></li>
          <li style="background-image: url('/img/cards/Warrier/[Warrier]Shield.jpg');"><span id="card11" class="card">수호자의 방패</span></li>
          <li style="background-image: url('/img/cards/Warrier/[Warrier]ShieldRush.jpg');"><span id="card12" class="card">방패돌진</span></li>
          <li style="background-image: url('/img/cards/Warrier/[Warrier]Swing.jpg');"><span id="card13" class="card">휘두르기</span></li>
          <li style="background-image: url('/img/cards/Warrier/[Warrier]ShieldCast.jpg');"><span id="card14" class="card">방패 던지기</span></li>
          <li style="background-image: url('/img/cards/Warrier/[Warrier]Referee.jpg');"><span id="card15" class="card">심판</span></li>
        <% } else if( character == "magician" ){ %>
          <li style="background-image: url('/img/cards/Magician/[Magician]Contract.jpg');"><span id="card16" class="card">마법사의 계약</span></li>
          <li style="background-image: url('/img/cards/Magician/[Magician]TeleportToLeft.jpg');"><span id="card17" class="card">(좌)순간이동</span></li>
          <li style="background-image: url('/img/cards/Magician/[Magician]TeleportToRight.jpg');"><span id="card18" class="card">(우)순간이동</span></li>
          <li style="background-image: url('/img/cards/Magician/[Magician]Firewall.jpg');"><span id="card19" class="card">파이어월</span></li>
          <li style="background-image: url('/img/cards/Magician/[Magician]Fireball.jpg');"><span id="card20" class="card">파이어볼</span></li>
          <li style="background-image: url('/img/cards/Magician/[Magician]OddMeteo.jpg');"><span id="card21" class="card">(홀)메테오</span></li>
          <li style="background-image: url('/img/cards/Magician/[Magician]EvenMeteo.jpg');"><span id="card22" class="card">(짝)메테오</span></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
